#root {
  max-width: 1280px;
  margin: 100px auto 0;
  padding: 2rem;
  text-align: center;
}

#timer {
  display: flex;
  flex-direction: column;
}

#timer-time {
  margin-bottom: 1.5rem;
}

.timer-time-display {
  min-width: 320px;
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-time-display > div {
  margin: 0 0.2em;
}

.timer-minutes,
.timer-seconds,
.timer-milliseconds {
    min-width: 80px;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 8px;
}

button:hover {
  border-color: #646cff;
}

button:disabled {
  color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.87);
}

button:disabled:hover {
  border-color: transparent;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  #timer-buttons {
    display: flex;
    flex-direction: column;
  }

  button {
    width: 100%;
    margin: 8px 0;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
